.aerostat {
  
  @media (min-width: $screen-xs) {
    background-image: url(../img/aerostat_xs.jpg);   
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	min-height: calc( 100vh - 205px);
	width: 100%;
	position: relative;
	z-index: 1;

	&__text {
		display: none;
	}
	&__link {
		display: none;
	}
	&__row {

	}
  }
   @media (min-width: $screen-sm) {
    background-image: url(../img/aerostat_ms.jpg);
    min-height: calc( 100vh + 70px);
    &__text {    	
    	font-size: $font-size + 6px;
    	color: $text-color-w;
    	position: absolute;
    }
    &__text--expiriens {
    	display: block;
    	left: 9%;
    	top: 390px;
    }
    //&__text--expression {
    	//display: none;
   // }
    &__text--excursion {
    	display: block;
    	left: 11%;
    	top: 18px;
    }
    &__text--gift {
    	display: block;
    	left: 63%;
    	top: 59px;
    }
    &__text--walk {
    	display: block;
    	left: 68%;
    	top: 279px;
    }
    &__link {
    	display: block;
    	position: absolute;
    	font-size: $font-size + 4px;
    	padding: 10px;
    	border: 1px solid $text-color-w;
    	left: 42%;
    	top: 487px;
    }
    &__row {
    	display: block;
    	position: relative;
    	left: 50%;
    	top: 309px;
    	.vertical {
    		width: 2px;
    		height: 28px;
    		background: $text-color-w;
    		position: absolute;
    		}
    	.corner {
    		width: 17px;
    		height: 17px;
    		border-bottom: 2px solid $text-color-w;
    		border-left: 2px solid $text-color-w;
    		transform: rotate(-45deg);
    		position: absolute;
    		top: 8px;
    		left: -8px;
    	}
    }
  }
   @media (min-width: $screen-lg) {
    background-image: url(../img/aerostat_lg.jpg);
     min-height: calc( 100vh - 96px);

     
    &__text--expiriens {
    	display: none;
    	
    }
    &__text--expression {
    	display: block;
    	position: absolute;
    	left: 8%;
    	top: 338px;
   	}
    &__text--excursion {
    	left: 17%;
    	top: 79px;
    }
    &__text--gift {
    	left: 58%;
    	top: 23px;
    }
    &__text--walk {
    	left: 73%;
    	top: 350px;
    }
    &__link {
    	left: 45%;
    	top: 460px;
    }
    &__row {
    	display: block;
    	position: relative;
    	left: 49%;
    	top: 228px;
    	.vertical {
    		width: 2px;
    		height: 28px;
    		background: $text-color-w;
    		position: absolute;
    		}
    	.corner {
    		width: 17px;
    		height: 17px;
    		border-bottom: 2px solid $text-color-w;
    		border-left: 2px solid $text-color-w;
    		transform: rotate(-45deg);
    		position: absolute;
    		top: 8px;
    		left: -8px;
    	}
    }
  }
	&__title {
		color: $text-color-w;
		display: block;
		margin: auto;
		text-align: center;
    	
    	@media (min-width: $screen-xs) {
    		width: 90%;
			font-size: $font-size + 14px;
			padding-top: 100px;
    	}
    	@media (min-width: $screen-sm) {
    		width: 70%;
			font-size: $font-size + 30px;
			padding-top: 150px;
    	}
    	@media (min-width: $screen-lg) {
    		width: 65%;
			font-size: $font-size + 52px;
			padding-top: 150px;
    	}
    	
	}
	
}
