.button-cross {
	
	background-color: transparent;
	border: none;
	outline: none;	
    padding: 0;

	// @media (min-width: $screen-xs) {
	    &__line {
		width: 25px;
		height: 5px;
		background-color: $background-color-h;
		//margin-bottom: 19px;
		//margin-top: 15px;			
	    }
	    &__line--left {
	    	transform: rotate(45deg);
	    	margin: 0px 0px -5px 1px;
	    }
	    &__line--right {
	    	transform: rotate(135deg);
	    	margin: 0 10px 6px 0;
	    }

				
	// }
	// @media (min-width: $screen-sm) {
	// 	&__line {
	// 		width: 30px;
	// 		height: 29px;
	// 	}
				
	// }
}