.flights {
	&__title {
		text-align: center;
	}
	&__container {
		margin: 0 auto;
		width: 100%;
	}
	@media (min-width: $screen-xs) {
		height: 728px;
	}
	@media (min-width: $screen-sm) {
		height: 668px;
	}
	@media (min-width: $screen-sm) {
		height: 780px;
	}
	
	&__inner {
		@media (min-width: $screen-xs) {
		width: 100%;
		height: 100%;
		//margin-top: 150px;
		position: relative;
		.countdown {
		position: absolute;
    	top: 100%;
    	z-index: 3000000;
    	background-color: $background-color-cd;

    	width: 100%;
    	color: $text-color-w;
    	padding: 55px 0;
    	margin-top: -191px;
    		&__text {
    			text-align: center;
    			font-size: $font-size + 8px;
    			padding-bottom: 35px;
    		}
    		.cd {
    			margin: auto;
    			text-align: center;
    			font-size: $font-size + 5px;
    		}
    	}	
	}
		@media (min-width: $screen-sm) {
			margin-top: 0px;
			.countdown {
				display: flex;
				justify-content: space-between;	
				padding: 26px 0;
				margin-top: -77px;
    		&__text {
    			width: 40%;
    			padding: 0 0 0 30px;
    			text-align: left;
				//margin-left: 30px;
    		}
    		.cd {
    			width: 59%;
    			text-align: right;
    			margin: 0;
    			padding: 0 30px 0 0px;
    			//margin-right: 30px;	
    		}
    	}	
	}
	@media (min-width: $screen-lg) {
		.countdown {
				display: flex;
				justify-content: center;	
				padding: 26px 0;
				margin-top: -77px;
    		&__text {
    			width: 257px;
    			padding: 0 210px 0 0;
    			//text-align: left;
				//margin-left: 30px;
    		}
    		.cd {
    			width: 410px;
    			padding: 0 0px 0 210px;
    			//text-align: right;
    			//margin: 0;
    			//margin-right: 30px;	
    		}
    	}	
	}
	}
	&__wrap {
		@media (min-width: $screen-lg) {
			width: 1200px;
			margin: 0 auto;
		}
	}
	.flights-menu__list {
		list-style: none;
		position: relative;}
		@media (min-width: $screen-sm) {
			width: 100%;
		.flights-menu__list:after {
    		content: '';
    		position: absolute;
    		width: 100%;
    		height: 176px;
    		//bottom: -200px;
    		left: 0;
    		top: 250px;
    		margin: 0 auto;
    		background-image: url(../img/line_sm.png);
    		background-repeat: no-repeat;
    		background-position: center;
    	}
		}
		@media (min-width: $screen-lg) {
			
		.flights-menu__list:after {
			background-image: url(../img/line_lg.png);
		}
	}
	.flights-menu__item {
		@media (min-width: $screen-xs) {
			display: block;
		}
		@media (min-width: $screen-sm) {
			display: inline-block;	
		}
	}
	.flights-item {
		position: relative;
		top: 0px;
		padding: 5px 0 47px 95px;
		font-size: $font-size + 8px;
	
		&:before {
			content: '';
			position: absolute;
			left: 17px;
			top: 0px;
			width: 44px;
			height: 60px;
			background-image: url(../img/aerostat.png);
		}
		&:after {
			
			position: absolute;
			left: 33px;
	    	top: 9px;
			font-size: $font-size + 8px;
			color: $text-color-w;
			width: 24px;
			height: 24px;
		}
		&--first:after {
			content: '1';
		}
		&--second:after {
			content: '2';
		}
		&--third:after {
			content: '3';
		}
		&--fouth:after {
			content: '4';
		}
		&--fifth:after {
			content: '5';
		}
		@media (min-width: $screen-sm){
		position: absolute;	
		padding: 0 0 70px 0;
		font-size: 22px;
		width: 100px;
		text-align: center;
		
		&:before {
			left: 27px;
			top: 35px;
		}
		&:after {
			left: 36px;
	    	top: 46px;
	    }
	    &--second:after {
	    	top: 70px;
		}
		&--second:before {
	    	top: 58px;
		}
		&--first {
			top: 300px;
			left: 5%;
		}
		&--second {
			top: 170px;
			left: 30%;
		}
		&--third {
			top: 100px;
			left: 45%;
		}
		&--fouth {
			top: 190px;
			left: 60%;
		}
		&--fifth {
			top: 300px;
			left: 85%;
		}

	}
}

	&__wrapper {
	@media (min-width: $screen-xs) {
		background: url(../img/flights_backgroundxs.jpg) bottom/cover no-repeat;
		//background-repeat: no-repeat;
		//background-size: cover;
    	//background-position-x: left;
    	//background-position-y: center;
    	//min-height: 100vh;
    	width: 100%;
    	height: 80%;
	}
	@media (min-width: $screen-sm) {
    	
		position: relative;
		background-image: url(../img/flights_background_sm.jpg);
		//min-height: calc( 100vh - 40px);
		//background-position: bottom;
    	
	}
	@media (min-width: $screen-lg) {
		background-image: url(../img/flights_backgroundlg.jpg);
		//background-repeat: no-repeat;
		//background-size: cover;
		//background-position-x: 50%;
    	//background-position-y: 0%;
	
	}
}
}

	

