.footer-info {
	width: 100%;
	@media (min-width: $screen-xs) {
		display: flex;
		justify-content: space-between;
		.main-menu {
			display: none;
		}
		.scroll {
			display: flex;
			margin: 17px 20px 0px 0px;
		}
		.logo {
			display: flex;
			margin: 14px 14px 14px 21px;
		}
	}
	@media (min-width: $screen-sm) {
		.scroll {			
			margin: 25px 30px 20px 11px;
		}
		.logo {			
			margin: 22px 14px 22px 21px;
		}
	}
	@media (min-width: $screen-lg) {
		.main-menu {
			display: inline-flex;
		}
		.scroll {
			display: none;
		}
		.logo {			
			margin: 22px 14px 22px 26px;
		}
	}
}