.gallery {
	@media (min-width: $screen-xs) {
		&__container {
			margin-top: 30px;
    		margin-bottom: 53px;
		}
		.img-inner {
			width: 100%;
		}
		&__title {
			display: none;
		}
		&__img {
			width: 100%;
			object-fit: cover;
			height: 230px;
		}
	}
	@media (min-width: $screen-sm) {
		&__title {
			display: block;
			text-align: center;
			margin-top: 60px;
			margin-bottom: 50px;
		}
		.img-inner {
			width: 100%;
		}
		&__img {
			box-shadow: 0 35px 0 -24px $background-color-sh;
			height: 410px;
			margin-bottom: 12px;
		}
	}
	@media (min-width: $screen-lg) {
		.img-inner {
			width: 100%;
			display: inline-block;
		}
		&__img {
			
			//width: auto;
			//object-fit: none;
			width: 258px;
			height: 258px;
			box-shadow: none;
		}
	}
}