.hamburger-menu {
	position:absolute; 
	font-size: $font-size +4px; 
    top: 100%;
	text-align:center; 
	z-index:1000000; 
	@media (min-width: $screen-xs) {
		left: 60%;
		width:40%; 
	}
	@media (min-width: $screen-sm) {
		left: 82%;
		width:18%; 
	}
	
	&__list {
		margin: 0; 
		padding: 0; 
		list-style-type: none; 
		list-style-image: none;
	}
	&__item {
		display: block;   
		padding: 10px 0 10px 0;
		opacity: 1;
		background:$background-color-bl; 		
		transition: opacity 3s cubic-bezier(0, 1, 1, 1);

	}
	&__item:hover {
		display: block; 		 
		opacity: 0.5;		
		outline: #dddddd 1px solid;
	}

	&__link {
		text-decoration:none;
		margin: 0px;
		color: $text-color-w;
		opacity: 1;
	}
	&__link:hover {
		opacity: 1;
	}
}