.main-menu {
	&__list {
		margin: 12px 19px;
		padding: 0;
	}
	&__item {
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
	}
	&__link {
		color: $text-color-w;
		text-decoration: none;
		font-size: $font-size + 4px;
		padding: 10px;
		margin: 0 6px;

	}
	&__link:hover {
		outline: 1px solid $text-color-w;
	}
}