@font-face {
	font-family: 'FiraSans_Bold';
	 src:url('../fonts/FiraSans_Bold.ttf');
}
@font-face {
	font-family: 'FiraSans_Italic';
	 src:url('../fonts/FiraSans_Italic.ttf');
}
@font-face {
	font-family: 'FiraSans_Medium';
	 src:url('../fonts/FiraSans_Medium.ttf');
}
@font-face {
	font-family: 'FiraSans_Regular';
	 src:url('../fonts/FiraSans_Regular.ttf');
}
