$screen-xs:                   360px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

$text-color:                  #666666; //цвет темного шрифта на сайте
$text-color-ad:               #444444; //цвет темных заголовков блока эдвантеджес
$text-color-w:                #fff;    //цвет светлого шрифта на сайте
$text-color-bl:               #000;    //
$text-color-f:                #d5d5d5;    //рамка формы
$text-color-c:                #f97e7e;    //шрифт поля формы итог расчета калькулятора

$background-color-bl:         #2c2c2c; //фон футера и хеадера//
$background-color-h:          #ebebeb; //фон кнопки гамбургер//
$background-color-up:         #e3e3e3; //фон кнопки скрола//
$background-color-tit:        #3e98d7; //фон подчеркивания заголовка//
$background-color-f:          #46b0dc; //фон кнопочки отправить в форме//
$background-color-pink:       #f8f8f8; //фон блока способы оплаты//
$background-color-red:        #ec5f5f; //фон активной вкладки меню оплаты//
$background-color-blu:        #1c5978; //фон самолетика в подвале синий//
$background-color-sh:         rgba(230,230,230,1); //фон тени видео и карусели #e6e6e6//
$background-color-cd:         rgba(0,24,9,.3); //фон countdown//


$font-size:                   14px;
$font-family-r:               'FiraSans_Regular';
$font-family-b:               'FiraSans_Bold';
$font-family-i:               'FiraSans_Italic';
$font-family-m:               'FiraSans_Medium';
